@use '@/assets/standards.scss';

.logo-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  border-radius: 1rem;
  box-shadow: 0 0 14px standards.$light-grey;
  padding: 0 15px;

  img {
    max-width: 55px;
    max-height: 55px;
  }
}
