@use '@/assets/standards.scss';

.tile-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tile-card {
  padding: 2.5rem;
  min-height: auto;
  background: standards.$white;
  border-radius: 1.5rem;
  // border: 1px solid standards.$teal-muted;
  position: relative;
  margin: 20px;

  h2.card-title {
    font-weight: 500;
    color: standards.$salmon-pink;
  }
}

.tile-card.shiny::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 1.5rem;
  padding: 3px;
  background: linear-gradient(
    164deg,
    standards.$sandy-orange 0%,
    standards.$salmon-pink 42%,
    standards.$yinmn-blue 80%,
    standards.$indigo-dye 100%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@media (max-width: 768px) {
  .tile-card-wrapper {
    grid-template-columns: 1fr;

    .tile-card {
      margin: 0;
      margin-bottom: 15px;
      padding: 1.5rem;
    }
  }
}
